In [19]:
# Install required libraries
# You can install these packages using pip if not installed:
# !pip install pandas sqlite3 pandasql

import sqlite3
import pandas as pd

# Set working directory
import os
os.chdir("/Users/jade/Desktop/Humana/Training")

# Load datasets using pandas
features_data = pd.read_csv("Afeatures.csv")
control_data = pd.read_csv("Controlpoint.csv")
cost_data = pd.read_csv("CostUt.csv")
demograph_data = pd.read_csv("Demographics.csv")
condition_data = pd.read_csv("mcondition.csv")
detail_data = pd.read_csv("mdetail.csv")
claims_data = pd.read_csv("mclaims.csv")
target_data = pd.read_csv("Tmembers.csv")
members_data = pd.read_csv("mdata.csv")
pharmacy_data = pd.read_csv("PU.csv")
quality_data = pd.read_csv("QD.csv")
sales_data = pd.read_csv("SC.csv")
social_data = pd.read_csv("Socialh.csv")
web_data = pd.read_csv("WA.csv")

/var/folders/wm/7c949vv90fl9xprhlvgygqw40000gn/T/ipykernel_5041/3976071838.py:19: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  claims_data = pd.read_csv("mclaims.csv")
/var/folders/wm/7c949vv90fl9xprhlvgygqw40000gn/T/ipykernel_5041/3976071838.py:23: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  quality_data = pd.read_csv("QD.csv")

In [4]:
import re
def convert_tenure(value):
    # Check if value is a string before processing
    if isinstance(value, str):
        # If the format is 'X - Y YEARS', calculate the midpoint
        if '-' in value and 'YEARS' in value:
            numbers = re.findall(r'\d*\.?\d+', value)
            if len(numbers) == 2:  # Ensure there are two numbers for the range
                return (float(numbers[0]) + float(numbers[1])) / 2
        # If the format is 'X+ YEARS', take the number before the '+'
        elif '+' in value and 'YEARS' in value:
            numbers = re.findall(r'\d*\.?\d+', value)
            if len(numbers) == 1:  # Ensure there's at least one number
                return float(numbers[0])
        # If there's just 'X YEARS', return the number
        elif 'YEARS' in value:
            numbers = re.findall(r'\d*\.?\d+', value)
            if len(numbers) == 1:
                return float(numbers[0])
        # Default case for strings that don't match the expected format
        return None
    # If value is already a float or an int, return it as is
    elif isinstance(value, (float, int)):
        return value
    # Default return for unexpected types (e.g., NaN, None)
    return None

# Applying the function to the column
members_data['tenure_band'] = members_data['tenure_band'].apply(convert_tenure)
members_data['disabled_ind'] = members_data['disabled_ind'].replace({'Y': 1, 'N': 0})
members_data['dual_eligible_ind'] = members_data['dual_eligible_ind'].replace({'Y': 1, 'N': 0})
members_data['lis_ind']= members_data['lis_ind'].replace({'Y': 1, 'N': 0})

In [5]:
from sklearn.feature_selection import VarianceThreshold
import numpy as np

# Function to remove high correlation and low variance columns
def clean_data(df, variance_threshold=0.01, correlation_threshold=0.9):
    # Step 1: Remove variables with low variance
    selector = VarianceThreshold(threshold=variance_threshold)
    df_reduced = selector.fit_transform(df)
    
    # Convert back to DataFrame to handle column names
    columns_kept = df.columns[selector.get_support()]
    df_filtered = pd.DataFrame(df_reduced, columns=columns_kept)

    # Step 2: Remove highly correlated variables
    corr_matrix = df_filtered.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    to_drop = [column for column in upper.columns if any(upper[column] > correlation_threshold)]
    
    # Drop highly correlated columns
    df_cleaned = df_filtered.drop(columns=to_drop)
    
    return df_cleaned

# Assuming your data is already loaded in these variables
# Apply the cleaning process to each dataset
members_data_cleaned = clean_data(members_data)
pharmacy_data_cleaned = clean_data(pharmacy_data)
social_data_cleaned = clean_data(social_data)
web_data_cleaned = clean_data(web_data)

In [6]:
print(len(members_data_cleaned))

1527904

In [7]:
print(len(members_data))

1527904

In [8]:
print(len(pharmacy_data_cleaned))
print(len(social_data_cleaned))
print(len(web_data_cleaned))

1527904
1527904
1527904

In [9]:
merged_data_cleaned = pd.merge(members_data_cleaned, pharmacy_data_cleaned, on='id', how='inner')
merged_data_cleaned = pd.merge(merged_data, social_data_cleaned, on='id', how='inner')
merged_data_cleaned = pd.merge(merged_data, web_data_cleaned, on='id', how='inner')

In [10]:
merged_data_cleaned

,consec_tenure_month,dual_eligible_ind,disabled_ind,lis_ind,id,rx_overall_pmpm_cost,rx_overall_coins_pmpm_cost,rx_overall_copay_pmpm_cost,rx_overall_deduct_pmpm_cost,rx_overall_mbr_resp_pmpm_cost,...,login_count_2,login_count_3,login_count_4,login_count_5,login_count_6,login_count_7,login_count_8,login_count_9,login_count_10,login_count_11
0,6.0,0.0,0.0,0.0,1551235.0,25.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,59.0,0.0,1.0,0.0,1643841.0,8.743333,1.855833,2.994167,1.790833,7.474167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,119.0,0.0,0.0,0.0,540296.0,510.660830,0.000000,42.635834,0.000000,76.110000,...,0.0,0.0,0.0,0.0,0.0,6.0,0.0,1.0,2.0,3.0
3,24.0,0.0,1.0,0.0,729600.0,319.575000,0.000000,83.404170,0.000000,83.404170,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60.0,0.0,0.0,0.0,716836.0,71.818340,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527899,4.0,0.0,0.0,0.0,1551651.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1527900,23.0,0.0,0.0,0.0,1584607.0,0.595833,0.000000,0.595833,0.000000,0.595833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1527901,3.0,0.0,0.0,0.0,1246390.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1527902,24.0,0.0,1.0,0.0,695942.0,96.273330,0.000000,7.374167,40.000000,33.040833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1527903,12.0,0.0,0.0,0.0,209485.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(len(members_data.columns))

7

In [14]:
print(len(members_data_cleaned.columns))

5

In [15]:
print(len(pharmacy_data_cleaned.columns))
print(len(social_data_cleaned.columns))
print(len(web_data_cleaned.columns))
print(len(pharmacy_data.columns))
print(len(social_data.columns))
print(len(web_data.columns))

14
35
15
17
78
15

In [17]:
merged_data = pd.merge(members_data, pharmacy_data, on='id', how='inner')
merged_data = pd.merge(merged_data, social_data, on='id', how='inner')
merged_data = pd.merge(merged_data, web_data, on='id', how='inner')

In [18]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Columns: 114 entries, consec_tenure_month to login_count_11
dtypes: float64(108), int64(6)
memory usage: 1.3 GB
None

In [20]:
print(target_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 5 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   calendar_year             1527904 non-null  int64
 1   product_type              1527904 non-null  object
 2   plan_category             1527904 non-null  object
 3   preventive_visit_gap_ind  1527904 non-null  int64
 4   id                        1527904 non-null  int64
dtypes: int64(3), object(2)
memory usage: 58.3+ MB
None

In [31]:
new_target=target_data.drop(['product_type','calendar_year','plan_category'],axis=1)
merged_data = pd.merge(merged_data, new_target, on='id', how='inner')

In [48]:
datasets = {
    'features_data': features_data,
    'control_data': control_data,
    'cost_data': cost_data,
    'demograph_data': demograph_data,
    'condition_data': condition_data,
    'detail_data': detail_data,
    'claims_data': claims_data,
    'target_data': target_data,
    'members_data': members_data,
    'pharmacy_data': pharmacy_data,
    'quality_data': quality_data,
    'sales_data': sales_data,
    'social_data': social_data,
    'web_data': web_data
}

# Check number of rows for each dataset
for name, data in datasets.items():
    print(f"{name} has {len(data)} rows")
    print(f"{name} has {data.info()} rows")

features_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 12 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   cms_frailty_ind            1527393 non-null  float64
 1   cms_tot_ma_payment_amt     1508168 non-null  float64
 2   cms_tot_partd_payment_amt  1508168 non-null  float64
 3   atlas_recfacpth14          1526922 non-null  float64
 4   atlas_ffrpth14             1526922 non-null  float64
 5   atlas_fsrpth14             1526922 non-null  float64
 6   atlas_grocpth14            1526922 non-null  float64
 7   atlas_povertyallagespct    1526922 non-null  float64
 8   cci_score                  1527393 non-null  float64
 9   fci_score                  1527393 non-null  float64
 10  dcsi_score                 1527393 non-null  float64
 11  id                         1527904 non-null  int64
dtypes: float64(11), int64(1)
memory usage: 139.9 MB
features_data has None rows
control_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 66 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   cnt_cp_emails_0              1527393 non-null  float64
 1   cnt_cp_emails_1              1527393 non-null  float64
 2   cnt_cp_emails_2              1527393 non-null  float64
 3   cnt_cp_emails_3              1527393 non-null  float64
 4   cnt_cp_emails_4              1527393 non-null  float64
 5   cnt_cp_emails_5              1527393 non-null  float64
 6   cnt_cp_emails_6              1527393 non-null  float64
 7   cnt_cp_emails_7              1527393 non-null  float64
 8   cnt_cp_emails_8              1527393 non-null  float64
 9   cnt_cp_emails_9              1527393 non-null  float64
 10  cnt_cp_emails_10             1527393 non-null  float64
 11  cnt_cp_emails_11             1527393 non-null  float64
 12  cnt_cp_print_0               1527393 non-null  float64
 13  cnt_cp_print_1               1527393 non-null  float64
 14  cnt_cp_print_2               1527393 non-null  float64
 15  cnt_cp_print_3               1527393 non-null  float64
 16  cnt_cp_print_4               1527393 non-null  float64
 17  cnt_cp_print_5               1527393 non-null  float64
 18  cnt_cp_print_6               1527393 non-null  float64
 19  cnt_cp_print_7               1527393 non-null  float64
 20  cnt_cp_print_8               1527393 non-null  float64
 21  cnt_cp_print_9               1527393 non-null  float64
 22  cnt_cp_print_10              1527393 non-null  float64
 23  cnt_cp_print_11              1527393 non-null  float64
 24  cnt_cp_vat_0                 1527393 non-null  float64
 25  cnt_cp_vat_1                 1527393 non-null  float64
 26  cnt_cp_vat_2                 1527393 non-null  float64
 27  cnt_cp_vat_3                 1527393 non-null  float64
 28  cnt_cp_vat_4                 1527393 non-null  float64
 29  cnt_cp_vat_5                 1527393 non-null  float64
 30  cnt_cp_vat_6                 1527393 non-null  float64
 31  cnt_cp_vat_7                 1527393 non-null  float64
 32  cnt_cp_vat_8                 1527393 non-null  float64
 33  cnt_cp_vat_9                 1527393 non-null  float64
 34  cnt_cp_vat_10                1527393 non-null  float64
 35  cnt_cp_vat_11                1527393 non-null  float64
 36  cnt_cp_webstatement_0        1527393 non-null  float64
 37  cnt_cp_webstatement_1        1527393 non-null  float64
 38  cnt_cp_webstatement_2        1527393 non-null  float64
 39  cnt_cp_webstatement_3        1527393 non-null  float64
 40  cnt_cp_webstatement_4        1527393 non-null  float64
 41  cnt_cp_webstatement_5        1527393 non-null  float64
 42  cnt_cp_webstatement_6        1527393 non-null  float64
 43  cnt_cp_webstatement_7        1527393 non-null  float64
 44  cnt_cp_webstatement_8        1527393 non-null  float64
 45  cnt_cp_webstatement_9        1527393 non-null  float64
 46  cnt_cp_webstatement_10       1527393 non-null  float64
 47  cnt_cp_webstatement_11       1527393 non-null  float64
 48  cnt_cp_livecall_0            1527393 non-null  float64
 49  cnt_cp_livecall_1            1527393 non-null  float64
 50  cnt_cp_livecall_2            1527393 non-null  float64
 51  cnt_cp_livecall_3            1527393 non-null  float64
 52  cnt_cp_livecall_4            1527393 non-null  float64
 53  cnt_cp_livecall_5            1527393 non-null  float64
 54  cnt_cp_livecall_6            1527393 non-null  float64
 55  cnt_cp_livecall_7            1527393 non-null  float64
 56  cnt_cp_livecall_8            1527393 non-null  float64
 57  cnt_cp_livecall_9            1527393 non-null  float64
 58  cnt_cp_livecall_10           1527393 non-null  float64
 59  cnt_cp_livecall_11           1527393 non-null  float64
 60  cnt_cp_emails_pmpm_ct        1527393 non-null  float64
 61  cnt_cp_print_pmpm_ct         1527393 non-null  float64
 62  cnt_cp_vat_pmpm_ct           1527393 non-null  float64
 63  cnt_cp_webstatement_pmpm_ct  1527393 non-null  float64
 64  cnt_cp_livecall_pmpm_ct      1527393 non-null  float64
 65  id                           1527904 non-null  int64
dtypes: float64(65), int64(1)
memory usage: 769.4 MB
control_data has None rows
cost_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 36 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   nonpar_clm_ct_pmpm                  1527393 non-null  float64
 1   nonpar_allowed_pmpm_cost            1527393 non-null  float64
 2   nonpar_net_paid_pmpm_cost           1527393 non-null  float64
 3   nonpar_cob_paid_pmpm_cost           1527393 non-null  float64
 4   nonpar_coins_pmpm_cost              1527393 non-null  float64
 5   nonpar_copay_pmpm_cost              1527393 non-null  float64
 6   nonpar_deduct_pmpm_cost             1527393 non-null  float64
 7   nonpar_mbr_resp_pmpm_cost           1527393 non-null  float64
 8   nonpar_ds_clm                       1527393 non-null  float64
 9   oontwk_clm_ct_pmpm                  1527393 non-null  float64
 10  oontwk_allowed_pmpm_cost            1527393 non-null  float64
 11  oontwk_net_paid_pmpm_cost           1527393 non-null  float64
 12  oontwk_cob_paid_pmpm_cost           1527393 non-null  float64
 13  oontwk_coins_pmpm_cost              1527393 non-null  float64
 14  oontwk_copay_pmpm_cost              1527393 non-null  float64
 15  oontwk_deduct_pmpm_cost             1527393 non-null  float64
 16  oontwk_mbr_resp_pmpm_cost           1527393 non-null  float64
 17  oontwk_ds_clm                       1527393 non-null  float64
 18  total_allowed_pmpm_cost             1527393 non-null  float64
 19  total_net_paid_pmpm_cost            1527393 non-null  float64
 20  total_cob_paid_pmpm_cost            1527393 non-null  float64
 21  total_coins_pmpm_cost               1527393 non-null  float64
 22  total_copay_pmpm_cost               1527393 non-null  float64
 23  total_deduct_pmpm_cost              1527393 non-null  float64
 24  total_mbr_resp_pmpm_cost            1527393 non-null  float64
 25  days_since_last_clm                 1527393 non-null  float64
 26  bh_rtc_admit_ct_pmpm                1527393 non-null  float64
 27  bh_rtc_admit_days_pmpm              1527393 non-null  float64
 28  bh_psyc_visit_ct_pmpm               1527393 non-null  float64
 29  total_ip_acute_admit_days_pmpm      1527393 non-null  float64
 30  total_ip_ltach_admit_days_pmpm      1527393 non-null  float64
 31  total_ip_maternity_admit_days_pmpm  1527393 non-null  float64
 32  total_ip_mhsa_admit_days_pmpm       1527393 non-null  float64
 33  total_ip_rehab_admit_days_pmpm      1527393 non-null  float64
 34  total_ip_snf_admit_days_pmpm        1527393 non-null  float64
 35  id                                  1527904 non-null  int64
dtypes: float64(35), int64(1)
memory usage: 419.7 MB
cost_data has None rows
demograph_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   lang_spoken_cd    1123822 non-null  object
 1   rucc_category     1527365 non-null  object
 2   riskarr_downside  1527393 non-null  float64
 3   riskarr_upside    1527393 non-null  float64
 4   riskarr_rewards   1527393 non-null  float64
 5   riskarr_global    1527393 non-null  float64
 6   id                1527904 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 81.6+ MB
demograph_data has None rows
condition_data has 4009342 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009342 entries, 0 to 4009341
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   cond_key           int64
 1   chronicity         object
 2   cond_desc          object
 3   hcc_model_type     object
 4   cms_model_vers_cd  object
 5   membership_year    int64
 6   id                 int64
dtypes: int64(3), object(4)
memory usage: 214.1+ MB
condition_data has None rows
detail_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 13 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   generic_grouper          1527741 non-null  object
 1   unattributed_provider    1527741 non-null  object
 2   sex_cd                   1527904 non-null  object
 3   age                      1527904 non-null  int64
 4   veteran_ind              1527904 non-null  object
 5   mco_contract_nbr         1527904 non-null  object
 6   plan_benefit_package_id  1527904 non-null  int64
 7   pbp_segment_id           1527904 non-null  int64
 8   state_of_residence       1527904 non-null  object
 9   county_of_residence      1527875 non-null  object
 10  region                   1527887 non-null  object
 11  race                     576462 non-null   object
 12  id                       1527904 non-null  int64
dtypes: int64(4), object(9)
memory usage: 151.5+ MB
detail_data has None rows
claims_data has 19456796 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19456796 entries, 0 to 19456795
Data columns (total 27 columns):
 #   Column                    Dtype
---  ------                    -----
 0   dos_year                  int64
 1   clm_unique_key            int64
 2   serv_date_skey            int64
 3   pcp_visit                 object
 4   annual_wellness           object
 5   humana_paf                object
 6   preventative_visit        object
 7   comp_physical_exam        object
 8   ihwa                      float64
 9   fqhc_visit                object
 10  telehealth                object
 11  endocrinologist_visit     object
 12  oncolologist_visit        object
 13  radiologist_visit         object
 14  podiatrist_visit          object
 15  ophthalmologist_visit     object
 16  optometrist_visit         object
 17  physical_therapist_visit  object
 18  cardiologist_visit        object
 19  gastroenterologist_visit  object
 20  orthopedist_visit         object
 21  obgyn_visit               object
 22  nephroloogist_visit       object
 23  pulmonologist_visit       object
 24  urgent_care_visit         object
 25  er_visit                  object
 26  id                        int64
dtypes: float64(1), int64(4), object(22)
memory usage: 3.9+ GB
claims_data has None rows
target_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 5 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   calendar_year             1527904 non-null  int64
 1   product_type              1527904 non-null  object
 2   plan_category             1527904 non-null  object
 3   preventive_visit_gap_ind  1527904 non-null  int64
 4   id                        1527904 non-null  int64
dtypes: int64(3), object(2)
memory usage: 58.3+ MB
target_data has None rows
members_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   consec_tenure_month  1527904 non-null  int64
 1   all_mm_tenure        1527904 non-null  int64
 2   tenure_band          1527904 non-null  object
 3   dual_eligible_ind    1527904 non-null  object
 4   disabled_ind         1527904 non-null  object
 5   lis_ind              1527904 non-null  object
 6   id                   1527904 non-null  int64
dtypes: int64(3), object(4)
memory usage: 81.6+ MB
members_data has None rows
pharmacy_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 17 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   rx_overall_pmpm_cost           1527393 non-null  float64
 1   rx_overall_net_paid_pmpm_cost  1527393 non-null  float64
 2   rx_overall_coins_pmpm_cost     1527393 non-null  float64
 3   rx_overall_copay_pmpm_cost     1527393 non-null  float64
 4   rx_overall_deduct_pmpm_cost    1527393 non-null  float64
 5   rx_overall_mbr_resp_pmpm_cost  1527393 non-null  float64
 6   rx_overall_gpi_pmpm_ct         1527393 non-null  float64
 7   rx_overall_dist_gpi6_pmpm_ct   1527393 non-null  float64
 8   rx_overall_pmpm_ct             1527393 non-null  float64
 9   rx_tier_1_pmpm_ct              1527393 non-null  float64
 10  rx_tier_2_pmpm_ct              1527393 non-null  float64
 11  rx_tier_3_pmpm_ct              1527393 non-null  float64
 12  rx_tier_4_pmpm_ct              1527393 non-null  float64
 13  rx_days_since_last_script      1527393 non-null  float64
 14  rx_pharmacies_pmpm_ct          1527393 non-null  float64
 15  rx_perphy_pmpm_ct              1527393 non-null  float64
 16  id                             1527904 non-null  int64
dtypes: float64(16), int64(1)
memory usage: 198.2 MB
pharmacy_data has None rows
quality_data has 33572241 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33572241 entries, 0 to 33572240
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   measurement_year  int64
 1   measure_name      object
 2   measure_desc      object
 3   measure_type      object
 4   base_event_date   object
 5   compliant_cnt     float64
 6   eligible_cnt      int64
 7   id                int64
dtypes: float64(1), int64(3), object(4)
memory usage: 2.0+ GB
quality_data has None rows
sales_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 2 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   channel  1525879 non-null  object
 1   id       1527904 non-null  int64
dtypes: int64(1), object(1)
memory usage: 23.3+ MB
sales_data has None rows
social_data has 1527904 rows
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 78 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   rwjf_premature_death_rate       1526764 non-null  float64
 1   rwjf_poor_health_pct            1526922 non-null  float64
 2   rwjf_uninsured_adults_pct       1526922 non-null  float64
 3   rwjf_pcp_rate                   1518072 non-null  float64
 4   rwjf_preventable_ip_rate        1525874 non-null  float64
 5   rwjf_adult_smoking_pct          1526922 non-null  float64
 6   rwjf_adult_obesity_pct          1526922 non-null  float64
 7   rwjf_teen_births_rate           1525077 non-null  float64
 8   rwjf_homicides_rate             1215323 non-null  float64
 9   rwjf_high_school_pct            1496741 non-null  float64
 10  rwjf_unemploy_pct               1526922 non-null  float64
 11  rwjf_child_poverty_pct          1526922 non-null  float64
 12  rwjf_poor_phy_hlth_days         1526922 non-null  float64
 13  rwjf_low_birthweight_pct        1526466 non-null  float64
 14  rwjf_mv_deaths_rate             1513952 non-null  float64
 15  rwjf_poor_men_hlth_days         1526922 non-null  float64
 16  rwjf_violent_crime_rate         1489186 non-null  float64
 17  rwjf_income_inequ_ratio         1526905 non-null  float64
 18  rwjf_std_infect_rate            1525352 non-null  float64
 19  rwjf_alcoholic_pct              1526922 non-null  float64
 20  rwjf_mammography_pct            1525963 non-null  float64
 21  rwjf_population                 1526922 non-null  float64
 22  rwjf_age_lt_18_pct              1526922 non-null  float64
 23  rwjf_age_gt_65_pct              1526922 non-null  float64
 24  rwjf_african_race_pct           1526922 non-null  float64
 25  rwjf_native_race_pct            1526922 non-null  float64
 26  rwjf_hispanic_pct               1526922 non-null  float64
 27  rwjf_female_pct                 1526922 non-null  float64
 28  rwjf_rural_pct                  1526921 non-null  float64
 29  rwjf_non_english_pct            1526922 non-null  float64
 30  rwjf_diabetes_pct               1526922 non-null  float64
 31  rwjf_hiv_rate                   1441184 non-null  float64
 32  rwjf_men_hlth_prov_ratio        1518786 non-null  float64
 33  rwjf_median_house_income        1526922 non-null  float64
 34  rwjf_child_free_lunch_pct       1507655 non-null  float64
 35  rwjf_drive_alone_pct            1526922 non-null  float64
 36  rwjf_some_college_pct           1526922 non-null  float64
 37  rwjf_inactivity_pct             1526922 non-null  float64
 38  rwjf_hawaiian_race_pct          1526922 non-null  float64
 39  rwjf_asian_race_pct             1526922 non-null  float64
 40  rwjf_single_parent_pct          1526922 non-null  float64
 41  rwjf_limit_hlthy_food_pct       1523020 non-null  float64
 42  rwjf_uninsured_pct              1526922 non-null  float64
 43  rwjf_dentists_ratio             1520280 non-null  float64
 44  rwjf_uninsured_child_pct        1526922 non-null  float64
 45  rwjf_drinkwater_violate_ind     1509471 non-null  float64
 46  rwjf_air_pollute_density        1526902 non-null  float64
 47  rwjf_white_race_pct             1526922 non-null  float64
 48  rwjf_premature_mortality        1526764 non-null  float64
 49  rwjf_child_mortality            1389768 non-null  float64
 50  rwjf_infant_mortality           1193926 non-null  float64
 51  rwjf_other_pcp                  1525830 non-null  float64
 52  rwjf_exercise_access_pct        1526921 non-null  float64
 53  rwjf_food_env_inx               1523020 non-null  float64
 54  rwjf_dui_deaths_pct             1526541 non-null  float64
 55  rwjf_injury_deaths_rate         1526358 non-null  float64
 56  rwjf_severe_housing_pct         1526922 non-null  float64
 57  rwjf_long_commute_alone_pct     1526922 non-null  float64
 58  rwjf_drug_overdose_deaths_rate  1372405 non-null  float64
 59  rwjf_food_insecurity_pct        1526922 non-null  float64
 60  rwjf_social_associate_rate      1526922 non-null  float64
 61  rwjf_resident_seg_black_inx     1408311 non-null  float64
 62  rwjf_resident_seg_nonwhite_inx  1515520 non-null  float64
 63  rwjf_insufficient_sleep_pct     1526922 non-null  float64
 64  rwjf_physical_distress_pct      1526922 non-null  float64
 65  rwjf_mental_distress_pct        1526922 non-null  float64
 66  rwjf_life_expectancy            1526724 non-null  float64
 67  rwjf_firearm_fatalities_rate    1471143 non-null  float64
 68  rwjf_disconnect_youth_pct       1202572 non-null  float64
 69  rwjf_home_ownership_pct         1526922 non-null  float64
 70  rwjf_housing_cost_burden_pct    1526921 non-null  float64
 71  rwjf_flu_vax                    1525964 non-null  float64

In [45]:
#condition_data
#cliams_data
#quality_data
features_data 
control_data 
cost_data 
#demograph_data 
#detail_data 
#claims_data 
target_data 
members_data 
pharmacy_data 
#quality_data 
#sales_data 
social_data 
web_data

In [53]:
print(features_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 12 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   cms_frailty_ind            1527393 non-null  float64
 1   cms_tot_ma_payment_amt     1508168 non-null  float64
 2   cms_tot_partd_payment_amt  1508168 non-null  float64
 3   atlas_recfacpth14          1526922 non-null  float64
 4   atlas_ffrpth14             1526922 non-null  float64
 5   atlas_fsrpth14             1526922 non-null  float64
 6   atlas_grocpth14            1526922 non-null  float64
 7   atlas_povertyallagespct    1526922 non-null  float64
 8   cci_score                  1527393 non-null  float64
 9   fci_score                  1527393 non-null  float64
 10  dcsi_score                 1527393 non-null  float64
 11  id                         1527904 non-null  int64
dtypes: float64(11), int64(1)
memory usage: 139.9 MB
None

In [54]:
print(control_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 66 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   cnt_cp_emails_0              1527393 non-null  float64
 1   cnt_cp_emails_1              1527393 non-null  float64
 2   cnt_cp_emails_2              1527393 non-null  float64
 3   cnt_cp_emails_3              1527393 non-null  float64
 4   cnt_cp_emails_4              1527393 non-null  float64
 5   cnt_cp_emails_5              1527393 non-null  float64
 6   cnt_cp_emails_6              1527393 non-null  float64
 7   cnt_cp_emails_7              1527393 non-null  float64
 8   cnt_cp_emails_8              1527393 non-null  float64
 9   cnt_cp_emails_9              1527393 non-null  float64
 10  cnt_cp_emails_10             1527393 non-null  float64
 11  cnt_cp_emails_11             1527393 non-null  float64
 12  cnt_cp_print_0               1527393 non-null  float64
 13  cnt_cp_print_1               1527393 non-null  float64
 14  cnt_cp_print_2               1527393 non-null  float64
 15  cnt_cp_print_3               1527393 non-null  float64
 16  cnt_cp_print_4               1527393 non-null  float64
 17  cnt_cp_print_5               1527393 non-null  float64
 18  cnt_cp_print_6               1527393 non-null  float64
 19  cnt_cp_print_7               1527393 non-null  float64
 20  cnt_cp_print_8               1527393 non-null  float64
 21  cnt_cp_print_9               1527393 non-null  float64
 22  cnt_cp_print_10              1527393 non-null  float64
 23  cnt_cp_print_11              1527393 non-null  float64
 24  cnt_cp_vat_0                 1527393 non-null  float64
 25  cnt_cp_vat_1                 1527393 non-null  float64
 26  cnt_cp_vat_2                 1527393 non-null  float64
 27  cnt_cp_vat_3                 1527393 non-null  float64
 28  cnt_cp_vat_4                 1527393 non-null  float64
 29  cnt_cp_vat_5                 1527393 non-null  float64
 30  cnt_cp_vat_6                 1527393 non-null  float64
 31  cnt_cp_vat_7                 1527393 non-null  float64
 32  cnt_cp_vat_8                 1527393 non-null  float64
 33  cnt_cp_vat_9                 1527393 non-null  float64
 34  cnt_cp_vat_10                1527393 non-null  float64
 35  cnt_cp_vat_11                1527393 non-null  float64
 36  cnt_cp_webstatement_0        1527393 non-null  float64
 37  cnt_cp_webstatement_1        1527393 non-null  float64
 38  cnt_cp_webstatement_2        1527393 non-null  float64
 39  cnt_cp_webstatement_3        1527393 non-null  float64
 40  cnt_cp_webstatement_4        1527393 non-null  float64
 41  cnt_cp_webstatement_5        1527393 non-null  float64
 42  cnt_cp_webstatement_6        1527393 non-null  float64
 43  cnt_cp_webstatement_7        1527393 non-null  float64
 44  cnt_cp_webstatement_8        1527393 non-null  float64
 45  cnt_cp_webstatement_9        1527393 non-null  float64
 46  cnt_cp_webstatement_10       1527393 non-null  float64
 47  cnt_cp_webstatement_11       1527393 non-null  float64
 48  cnt_cp_livecall_0            1527393 non-null  float64
 49  cnt_cp_livecall_1            1527393 non-null  float64
 50  cnt_cp_livecall_2            1527393 non-null  float64
 51  cnt_cp_livecall_3            1527393 non-null  float64
 52  cnt_cp_livecall_4            1527393 non-null  float64
 53  cnt_cp_livecall_5            1527393 non-null  float64
 54  cnt_cp_livecall_6            1527393 non-null  float64
 55  cnt_cp_livecall_7            1527393 non-null  float64
 56  cnt_cp_livecall_8            1527393 non-null  float64
 57  cnt_cp_livecall_9            1527393 non-null  float64
 58  cnt_cp_livecall_10           1527393 non-null  float64
 59  cnt_cp_livecall_11           1527393 non-null  float64
 60  cnt_cp_emails_pmpm_ct        1527393 non-null  float64
 61  cnt_cp_print_pmpm_ct         1527393 non-null  float64
 62  cnt_cp_vat_pmpm_ct           1527393 non-null  float64
 63  cnt_cp_webstatement_pmpm_ct  1527393 non-null  float64
 64  cnt_cp_livecall_pmpm_ct      1527393 non-null  float64
 65  id                           1527904 non-null  int64
dtypes: float64(65), int64(1)
memory usage: 769.4 MB
None

In [55]:
print(cost_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Data columns (total 36 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   nonpar_clm_ct_pmpm                  1527393 non-null  float64
 1   nonpar_allowed_pmpm_cost            1527393 non-null  float64
 2   nonpar_net_paid_pmpm_cost           1527393 non-null  float64
 3   nonpar_cob_paid_pmpm_cost           1527393 non-null  float64
 4   nonpar_coins_pmpm_cost              1527393 non-null  float64
 5   nonpar_copay_pmpm_cost              1527393 non-null  float64
 6   nonpar_deduct_pmpm_cost             1527393 non-null  float64
 7   nonpar_mbr_resp_pmpm_cost           1527393 non-null  float64
 8   nonpar_ds_clm                       1527393 non-null  float64
 9   oontwk_clm_ct_pmpm                  1527393 non-null  float64
 10  oontwk_allowed_pmpm_cost            1527393 non-null  float64
 11  oontwk_net_paid_pmpm_cost           1527393 non-null  float64
 12  oontwk_cob_paid_pmpm_cost           1527393 non-null  float64
 13  oontwk_coins_pmpm_cost              1527393 non-null  float64
 14  oontwk_copay_pmpm_cost              1527393 non-null  float64
 15  oontwk_deduct_pmpm_cost             1527393 non-null  float64
 16  oontwk_mbr_resp_pmpm_cost           1527393 non-null  float64
 17  oontwk_ds_clm                       1527393 non-null  float64
 18  total_allowed_pmpm_cost             1527393 non-null  float64
 19  total_net_paid_pmpm_cost            1527393 non-null  float64
 20  total_cob_paid_pmpm_cost            1527393 non-null  float64
 21  total_coins_pmpm_cost               1527393 non-null  float64
 22  total_copay_pmpm_cost               1527393 non-null  float64
 23  total_deduct_pmpm_cost              1527393 non-null  float64
 24  total_mbr_resp_pmpm_cost            1527393 non-null  float64
 25  days_since_last_clm                 1527393 non-null  float64
 26  bh_rtc_admit_ct_pmpm                1527393 non-null  float64
 27  bh_rtc_admit_days_pmpm              1527393 non-null  float64
 28  bh_psyc_visit_ct_pmpm               1527393 non-null  float64
 29  total_ip_acute_admit_days_pmpm      1527393 non-null  float64
 30  total_ip_ltach_admit_days_pmpm      1527393 non-null  float64
 31  total_ip_maternity_admit_days_pmpm  1527393 non-null  float64
 32  total_ip_mhsa_admit_days_pmpm       1527393 non-null  float64
 33  total_ip_rehab_admit_days_pmpm      1527393 non-null  float64
 34  total_ip_snf_admit_days_pmpm        1527393 non-null  float64
 35  id                                  1527904 non-null  int64
dtypes: float64(35), int64(1)
memory usage: 419.7 MB
None

In [56]:
condition_data

,cond_key,chronicity,cond_desc,hcc_model_type,cms_model_vers_cd,membership_year,id
0,226,Chronic,"Heart Failure, Except End-Stage and Acute",MEDICAL,V28,2023,993642
1,94,Chronic,Systemic Lupus Erythematosus and Other Specifi...,MEDICAL,V28,2023,993642
2,329,Chronic,"Chronic Kidney Disease, Moderate Stage 3, Exce...",MEDICAL,V28,2023,993642
3,81,Chronic,Ulcerative Colitis,MEDICAL,V28,2023,803124
4,47,Chronic,Disorders of Immunity,MEDICAL,V24,2023,803124
...,...,...,...,...,...,...,...
4009337,37,Chronic,Diabetes with Chronic Complications,MEDICAL,V28,2023,654526
4009338,238,Chronic,Specified Heart Arrhythmias,MEDICAL,V28,2023,654526
4009339,329,Chronic,"Chronic Kidney Disease, Moderate Stage 3, Exce...",MEDICAL,V28,2023,654526
4009340,38,Chronic,"Diabetes with Glycemic, Unspecified, or No Com...",MEDICAL,V28,2023,1124053
4009341,280,Chronic,"Chronic Obstructive Pulmonary Disease, Interst...",MEDICAL,V28,2023,1891210

In [57]:
merged_data = pd.merge(merged_data, features_data, on='id', how='inner')
merged_data = pd.merge(merged_data, control_data, on='id', how='inner')
merged_data = pd.merge(merged_data, cost_data, on='id', how='inner')

In [58]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527904 entries, 0 to 1527903
Columns: 226 entries, consec_tenure_month to total_ip_snf_admit_days_pmpm
dtypes: float64(219), int64(7)
memory usage: 2.6 GB
None

In [60]:
demograph_data

,lang_spoken_cd,rucc_category,riskarr_downside,riskarr_upside,riskarr_rewards,riskarr_global,id
0,ENG,1-Metro,0.0,1.0,0.0,0.0,1352611
1,ENG,2-Metro,0.0,0.0,0.0,0.0,299881
2,NaN,2-Metro,0.0,0.0,0.0,0.0,1191826
3,ENG,7-Nonmetro,0.0,1.0,0.0,0.0,1772108
4,NaN,7-Nonmetro,0.0,0.0,0.0,0.0,171691
...,...,...,...,...,...,...,...
1527899,ENG,6-Nonmetro,0.0,1.0,0.0,0.0,376551
1527900,ENG,8-Nonmetro,0.0,0.0,0.0,0.0,1637412
1527901,NaN,2-Metro,0.0,0.0,0.0,0.0,338186
1527902,ENG,3-Metro,0.0,0.0,0.0,0.0,351507
1527903,ENG,2-Metro,0.0,0.0,0.0,0.0,375553

In [62]:
print(demograph_data['lang_spoken_cd'].value_counts())

lang_spoken_cd
ENG    1058350
OTH      47238
SPA      15468
KOR        769
CHI        528
VIE        442
FRE        248
JPN        159
POL        108
RUS         87
CPF         76
TGL         66
YUE         64
POR         44
ITA         43
ARA         39
CMN         35
GER         10
FAS         10
PER          7
LAO          5
NAV          5
HIN          3
CRE          3
TAG          2
HMG          2
DUT          2
ZZZ          1
THA          1
BEN          1
PHI          1
MAN          1
GUJ          1
SRP          1
IRA          1
URD          1
Name: count, dtype: int64

In [63]:
print(demograph_data['rucc_category'].value_counts())

rucc_category
1-Metro       463353
2-Metro       364590
3-Metro       230472
6-Nonmetro    161116
4-Nonmetro    124668
7-Nonmetro     81417
5-Nonmetro     42660
8-Nonmetro     30477
9-Nonmetro     28612
Name: count, dtype: int64

In [59]:
condition_data

,cond_key,chronicity,cond_desc,hcc_model_type,cms_model_vers_cd,membership_year,id
0,226,Chronic,"Heart Failure, Except End-Stage and Acute",MEDICAL,V28,2023,993642
1,94,Chronic,Systemic Lupus Erythematosus and Other Specifi...,MEDICAL,V28,2023,993642
2,329,Chronic,"Chronic Kidney Disease, Moderate Stage 3, Exce...",MEDICAL,V28,2023,993642
3,81,Chronic,Ulcerative Colitis,MEDICAL,V28,2023,803124
4,47,Chronic,Disorders of Immunity,MEDICAL,V24,2023,803124
...,...,...,...,...,...,...,...
4009337,37,Chronic,Diabetes with Chronic Complications,MEDICAL,V28,2023,654526
4009338,238,Chronic,Specified Heart Arrhythmias,MEDICAL,V28,2023,654526
4009339,329,Chronic,"Chronic Kidney Disease, Moderate Stage 3, Exce...",MEDICAL,V28,2023,654526
4009340,38,Chronic,"Diabetes with Glycemic, Unspecified, or No Com...",MEDICAL,V28,2023,1124053
4009341,280,Chronic,"Chronic Obstructive Pulmonary Disease, Interst...",MEDICAL,V28,2023,1891210